<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        {{#if @blog.logo}}
        <a href="{{@blog.url}}" title="前往 {{@blog.title}} 的主页"><img src="{{@blog.logo}}" width="80" alt="{{@blog.title}} logo" class="panel-cover__logo logo" /></a>
        {{/if}}
        <h1 class="panel-cover__title panel-title"><a href="{{@blog.url}}" title="link to homepage for {{@blog.title}}">{{@blog.title}}</a></h1>
        <span class="panel-cover__subtitle panel-subtitle">虚心学习，乐于分享</span>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{@blog.description}}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        <p class="panel-cover__description"><a href="http://mousycoder.com" target="_blank">mousycoder.com - 我维护的个人博客，每周五更新，欢迎访问</a></p>
        <div class="navigation-wrapper">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
         <!--     <li class="navigation__item"><a href="http://mousycoder.com/project" target="_blank" title="我的项目">项目</a></li>-->
              <li class="navigation__item"><a href="http://mousycoder.com/me" title="了解更多关于我">关于</a></li>
              <li class="navigation__item"><a href="http://mousycoder.com/rss/" title="邮件订阅本站">订阅</a></li>
            </ul>
          </nav>
          </div>
          <div>
          {{> social}}
          </div>
        </div>

      </div>
      <br>
      <br>
      <a href="http://www.miitbeian.gov.cn/">粤ICP备15049195号-4</a>
    </div>
    <div class="panel-cover--overlay cover-disabled"></div>
  </div>
</header>
